asgi-redis==0.10.0
asgiref==0.11.2
colorama==0.3.7
msgpack-python==0.4.7
py==1.4.31
pytest==2.9.1
redis==2.10.5
requests==2.9.1
six==1.10.0
requests-futures==0.9.7
futures==3.0.5
pypiwin32==219
websocket-client==0.37.0
Django==1.10
channels==0.17.2
daphne==0.14.3
twisted==16.2.0
psutil==4.3.0

-e git+https://github.com/sebmarchand/pyetw.git@302431b0eecc7698f1b7641ed8cf39f8769beb4b#egg=ETW
